<div class="row">
    <h4>Edit this pet.</h4>
  </div>
  
  <form *ngIf="pet" (submit)=editPetForm() method="POST">
    <div *ngIf="pet.name.length < 3" class="row red">
        <p class="red">A Pets name must be 3 characters longer.</p>
    </div>
    <div class="row">
      <p>Pet Name: <input type="text" name="pet.name" [(ngModel)]="pet.name"></p>
    </div>
    <div *ngIf="pet.type.length < 3" class="row red">
        <p class="red">A Pets Type must be 3 characters or longer.</p>
    </div>
    <div class="row">
      <p>Pet Type: <input type="text" name="pet.type" [(ngModel)]="pet.type"></p>
    </div>
    <div *ngIf="pet.description.length < 3" class="row red">
        <p class="red">A Pets Description must be 3 characters longer.</p>
    </div>
    <div class="row">
      <p>Description: <input type="text" name="pet.description" [(ngModel)]="pet.description"></p>
    </div>
    <div class="row">
      <div class="p">Skills:</div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <p>Skill 1: <input type="text" name="pet.skill1" [(ngModel)]="pet.skill1"></p>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <p>Skill 2: <input type="text" name="pet.skill2" [(ngModel)]="pet.skill2"></p>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <p>Skill 3: <input type="text" name="pet.skill3" [(ngModel)]="pet.skill3"></p>
    </div>
    <div class="row">
      <div class="col-2"><input type="submit" value="Edit Pet"></div>
      <div class="col-2"><button [routerLink]="['/']">Cancel</button></div>
      
    </div>  
  </form>