<div class="row">
  <h4>These Pets are looking for a home!</h4>
</div>
<div class="row">
  <button [routerLink]="['/new']">Add a pet to the shelter</button>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let pet of pets">
        <td>{{pet.name}}</td>
        <td>{{pet.type}}</td>
        <td>
          <button [routerLink]="['/details/'+pet._id]">Details</button>
          <button [routerLink]="['/edit/'+pet._id]">Edit</button>
        </td>
      </tr>
  </tbody>  
</table>
